/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html, 
body, 
#tray,
.content {
    height: 100%;
}

html {
    font-size: 10px;
}

body {
    position: relative;
    overflow: hidden;
    font-family: 'Inconsolata';
    font-size: 2.1em;
    line-height: 1.33333;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.9);
}

a {
    text-decoration: none;
    color: white;
}

#tray {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#tray.expanded {
    width: 200%;
}

#tray.expanded.left {
    left: auto;
    right: 0;
}

#tray.anim {
    transition: transform 0.6s linear;
}

#tray.expanded.slide {
    transform: translateX(-50%);
}

#tray.expanded.left.slide {
    transform: translateX(50%);
}

#tray.expanded.flip {
    left: auto;
    right: 0;
    transform: none;
}

#tray.expanded.left.flip {
    left: 0;
    right: auto;
    transform: none;
}

.content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    background-image: url('img/myriadforest_2nd-6086.jpg');
    background-size: cover;
    background-position: 50% 50%;
    overflow-y: auto;
}

#tray.expanded .content {
    width: 50%;
}

#tray.expanded .content.new {
    left: auto;
    right: 0;
}

#tray.expanded.left .content {
    left: auto;
    right: 0;
}

#tray.expanded.left .content.new {
    left: 0;
    right: auto;
}

.content.home {
    background-image: url('img/myriadforest_2nd-6086.jpg');
    color: white;
}

.content.home a {
    color: white;
}

.content.shed {
    background-image: url('img/myriadforest_2nd-6333.jpg');
}

.content.images {
    background-image: none;
}

.content.forest {
    background-image: url('img/cascading forest gimp.jpg');
}

.incoming {
    display: none;
}

html,
button,
input,
select,
textarea {
    color: #222;
}

.content.home {
    color: white;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Nav
   ========================================================================== */

nav {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

nav ul {
    padding: 0;
}

nav li {
    float: left;
    width: 14.2857%;
    text-align: center;
}

/* ==========================================================================
   Posts
   ========================================================================== */

#posts {
    padding-top: 10em;
    margin-left: auto;
    margin-right: auto;
    max-width: 50em;
}

.fluid-vid {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}

.fluid-vid iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* ==========================================================================
   Front page
   ========================================================================== */

#front-page {
    height: 100%;
    text-align: center;
}

#front-page:before {
    content: "";
    display: inline-block;
    margin-right: -0.25em;
    height: 100%;
    vertical-align: middle;
}

#front-track {
    display: inline-block;
    vertical-align: middle;
}



/* ==========================================================================
   gallery
   ========================================================================== */

.gallery {
    position: relative;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
    font-size: 0;
    cursor: pointer;
}

.gallery:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.gallery img {
    display: inline-block;
    vertical-align: middle;
    max-height: 100%;
    max-width: 100%;
    box-shadow: 0 0 150px rgba(0, 0, 0, 0.9);
}

.gallery a {
    display: none;
}

.prev-image-arrow, .next-image-arrow {
    display: none;
    position: absolute;
    top: 50%;
}

.prev-image-arrow {
    left: 16px;
}

.next-image-arrow {
    right: 16px;
}

.prev-image-arrow:before, .next-image-arrow:before {
    content: "";
    display: block;
    position: relative;
    top: -10px;
    width: 32px;
    height: 19px;
}

.prev-image-arrow:before {
    background: url('icons/arrow-l.png') no-repeat;
}

.next-image-arrow:before {
    background: url('icons/arrow-r.png') no-repeat;
}

/* ==========================================================================
   player
   ========================================================================== */

.sc-track:before,
.play:before,
.pause:before {
    display: inline-block;
    padding-right: 0.42857em;
    font-family: 'mf-icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    cursor: pointer;
}

.sc-track:before,
.play:before {
	content: "\e600";
}

.pause:before {
	content: "\e601";
}

#main-player {
    position: absolute;
    top: 1em;
    right: 1em;
    color: white;
}




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
