/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,
body,
#tray,
.content {
    height: 100%;
}

html {
    font-size: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    position: relative;
    overflow: hidden;
    font-family: 'Inconsolata';
    font-size: 2.1em;
    letter-spacing: -0.04762em;
    line-height: 1.33333;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.9);
}

a {
    text-decoration: none;
    color: white;
}

a:focus, a:active {
    outline: none;
}

.prev-next-page {
    display: none;
}

#tray {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#tray.expanded {
    width: 200%;
}

#tray.expanded.left {
    left: auto;
    right: 0;
}

#tray.expanded.flip {
    left: auto;
    right: 0;
    transform: none;
}

#tray.expanded.left.flip {
    left: 0;
    right: auto;
    transform: none;
}

.content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    background-image: url('img/myriadforest_2nd-6086.jpg');
    background-size: cover;
    background-position: 50% 50%;
    overflow-y: auto;
}

#tray.expanded .content {
    width: 50%;
}

#tray.expanded .content.new {
    left: auto;
    right: 0;
}

#tray.expanded.left .content {
    left: auto;
    right: 0;
}

#tray.expanded.left .content.new {
    left: 0;
    right: auto;
}

.content.home {
    background-image: url('img/myriadforest_2nd-6086.jpg');
    color: white;
}

.content.home a {
    color: white;
}

.content.shed {
    background-image: url('img/shed.jpg');
}

.content.images {
    background-image: none;
}

.content.forest {
    background-image: url('img/cascading forest gimp.jpg');
}

.incoming {
    display: none;
}

html,
button,
input,
select,
textarea {
    color: white;
}

.content.home {
    color: white;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Menu
   ========================================================================== */

#menu {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    padding-bottom: 0.66667em;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
}

#menu.expanded {
    display: block;
}

#show-menu, #hide-menu {
    display: inline-block;
    margin-top: 0.2rem;
    margin-left: 0.8rem;
    border: none;
    padding: 0.4em;
    background: none;
    font-size: 2.5rem;
    color: white;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.9);
}

#show-menu {
    position: absolute;
    top: 0.2rem;
    left: 0.8rem;
    margin: 0;
}

nav {
    margin-top: 0.52381em;
}

nav ul {
    margin-top: 0;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline-block;
    margin: 0 1rem;
}

#menu-social {
    margin: 0;
    padding: 0;
    text-align: center;
}

#menu-social li {
    display: inline-block;
    margin: 0 0.6rem;
    font-size: 2.5rem;
    list-style-type: none;
}

nav [class^="icon-"],
nav [class*=" icon-"] {
    font-size: 1.19048em;
}

@media screen and (min-width: 640px) {
    #menu {
        display: block;
        top: auto;
        bottom: 0;
        background: transparent;
    }

    #show-menu, #hide-menu {
        display: none;
    }

    nav {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;$
    }

    nav ul {
        margin-bottom: 0.85714em;
    }

    /* clearfix */
    nav ul:after {
        content: " ";
        display: table;
        clear: both;
    }

    nav li {
        display: block;
        position: relative;
        z-index: 1;
        margin: 0 1.33333em;
    }

    .prev-nav-item {
        float: left;
    }

    .next-nav-item {
        float: right;
    }

    #menu-social {
        padding-right: 5.33333em;
        text-align: right;
    }

    #menu-social li {
        position: relative;
        z-index: 1;
    }
}

/* ==========================================================================
   Posts
   ========================================================================== */

#posts {
    padding: 10em 0.85714em 3em;
    margin-left: auto;
    margin-right: auto;
    max-width: 35em;
}

.fluid-vid {
    position: relative;
    z-index: 0;
    padding-bottom: 56.25%;
    height: 0;
}

.youtube-cover,
.youtube-busy,
.youtube-vid,
.fluid-vid iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.youtube-cover {
    z-index: 1;
    background-size: cover;
    background-position: 50% 50%;
    text-align: center;
    cursor: pointer;
}

.youtube-busy {
    display: none;
    background: black;
    opacity: 0;
}

.youtube-cover:before {
    content: "";
    display: inline-block;
    margin-right: -0.47619em;
    height: 100%;
    vertical-align: middle;
}

.youtube-cover .sc-track {
    display: inline-block;
    max-width: 95%;
    vertical-align: middle;
}


/* ==========================================================================
   Front page
   ========================================================================== */

.front-page {
    height: 100%;
    font-size: 0;
    text-align: center;
}

.front-page:before {
    content: "";
    display: inline-block;
    margin-right: -0.25em;
    height: 100%;
    vertical-align: middle;
}

.front-track {
    display: inline-block;
    vertical-align: middle;
    font-size: 2.1rem;
}

.second-track {
    padding-bottom: 8em;
    text-align: center;
}



/* ==========================================================================
   gallery
   ========================================================================== */

.gallery {
    position: relative;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
    font-size: 0;
    cursor: pointer;
}

.gallery:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.gallery img {
    display: inline-block;
    vertical-align: middle;
    max-height: 100%;
    max-width: 100%;
    box-shadow: 0 0 150px rgba(0, 0, 0, 0.9);
}

.gallery a {
    display: none;
}

.prev-image-arrow, .next-image-arrow {
    display: none;
    position: absolute;
    top: 50%;
}

.prev-image-arrow {
    left: 16px;
}

.next-image-arrow {
    right: 16px;
}

.prev-image-arrow:before, .next-image-arrow:before {
    content: "";
    display: block;
    position: relative;
    top: -10px;
    width: 32px;
    height: 19px;
}

.prev-image-arrow:before {
    background: url('icons/arrow-l.png') no-repeat;
}

.next-image-arrow:before {
    background: url('icons/arrow-r.png') no-repeat;
}

/* ==========================================================================
   player
   ========================================================================== */

.sc-track:before,
.play:before,
.pause:before,
.noaction:before {
    display: inline-block;
    padding-right: 0.42857em;
    width: 1.66667em;
    font-family: 'mf-icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    cursor: pointer;
}

.sc-track:before,
.play:before {
	content: "\e600";
}

.pause:before {
	content: "\e601";
}

.noaction:before {
    content: " ";
}

#main-player {
    position: absolute;
    top: 0.4rem;
    right: 1rem;
    padding-left: 3.5em;
    max-width: 100%;
    color: white;
}

.main-player-body {
    position: relative;
    float: left;
    padding-right: 3.52381em;
    height: 1.33333em;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.main-player-title {
}

.main-player-time {
    position: absolute;
    top: 0;
    right: 0;
}

@media screen and (min-width: 640px) {
    #main-player {
        top: auto;
        bottom: 0;
        left: 0;
        right: 0;
        margin-bottom: 0.85714em;
        padding-left: 6em;
        padding-right: 13em;
    }
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
