<div class="gallery {{ include.galleryClass }}" data-gallery-id="{{ include.galleryId }}">
    <div class="gallery-root">
        <div class="gallery-slide">
            <img src="{{ site.data.galleries[include.galleryId][0].path }}">
            <div class="gallery-overlay">
                <span class="icon-countdown"></span>
            </div>
        </div>
    </div>
</div>
<script id="gallery-data-{{ include.galleryId }}" type="gallery-data">{{ site.data.galleries[include.galleryId] | jsonify }}</script>
